* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8EACCD;
    text-align: center;
}


/* main */

main {
    margin-top: 130px;
}

.list {
    background-color: #fff;
    width: 230px;
    margin: 0 auto;
    padding: 10px 0;
}

.date {
    margin: 20px 0;
}

.goodpoint {
    margin: 10px 0;
}

.date input{
    text-decoration: none;
    font-size: 15px;
    background-color: #fff;
    color: #333;
    border: none;
}

.goodpoint input, .comment input {
    text-decoration: none;
    font-size: 15px;
    background-color: #F9F3CC;
    color: #333;
    border: none;
    width: 200px;
    height: 30px;
    margin: 5px 0;
}

.save, .cancel {
    margin: 40px 0;
}

.save a, .cancel a{
    text-decoration: none;
    font-size: 15px;
    background-color: #D2E0FB;
    color: #8EACCD;
    padding: 10px 100px;
}

.cancel a{
    text-decoration: none;
    font-size: 15px;
    background-color: #D2E0FB;
    color: #8EACCD;
    padding: 10px 80px;
}
