* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8EACCD;
    text-align: center;
}


/* main */

main {
    margin-top: 130px;
}

.list {
    font-size: 15px;
    width: 245px;
    margin: 0 auto;
}

.list p {
    color: #D2E0FB;
    font-size: 25px;
}

.picture img {
    width: 200px;
}

.edit {
    margin: 40px 0;
}

.edit a {
    text-decoration: none;
    font-size: 15px;
    background-color: #D2E0FB;
    color: #8EACCD;
    padding: 10px 55px;
}



